		<div class="ui footer basic segment" style="background-color: #f5f5f5">
      		<div class="ui">
      			<div id="image">
      				<img src="http://10.94.30.36/DriveTracker/img/proofpoint_logo.png" alt="Proofpoint, Inc">   
      			</div>
      		</div>
		</div>
	</body>
</html>