<!DOCTYPE html>
<html>
	<head>
		<title>Proofpoint Professional Services | Inventory Application</title>
		<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.7/semantic.min.css">
		<link rel="stylesheet" tpye="text/css" href="/stylesheets/app.css">

		<script>
			window.location.hash="no-back-button";
			window.location.hash="Again-No-back-button";//again because google chrome don't insert first hash into history
			window.onhashchange=function(){window.location.hash="no-back-button";}
		</script> 
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
		<script type="text/javascript" src="/scripts/app.js"></script>
	</head>
	<body>
		<div class="ui fixed inverted menu">
<!-- 			<div class="ui container">
 -->				<div class="header item">
					<i class="code icon"></i>
					PS Inverntory Tool
				</div>
				<a href="/views/index" class="item">Home</a>
				<a href="/views/index" class="item">Other Tab</a>
				<div class="right menu">
    				<a class="ui item" href="/logout">
      					Logout
   					 </a>
  				</div>
			<!-- </div> -->
		</div>