<% include partials/header %>

<div class="ui container">
	<br>
	<br>
	<table class="ui fixed striped green table">
  <thead>
    <tr>
    	<th class="two wide">AW</th>
   		<th class="two wide">Status</th>
    	<th class="three wide">Customer GUID</th>
    	<th class="two wide">Customer Name</th>
    	<th class="two wide">Message Count</th>
  </tr></thead>
  <tbody>
    <tr>
      <td>10.104.40.104</td>
      <td>READONLY</td>
      <td>1_68ddfebc16eb4b9e__20cc939f_15062edbc45__8000</td>
      <td>Facebook</td>
      <td>4337338</td>
    </tr>
    <tr>
      <td>10.104.40.157</td>
      <td>WRITABLE</td>
      <td>1_68ddfebc16eb4b9e__20cc939f_15062edbc45__8000</td>
      <td>Google</td>
      <td>4337338</td>
    </tr>
    <tr>
      <td>10.104.40.220</td>
      <td>READONLY</td>
      <td>1_68ddfebc16eb4b9e__20cc939f_15062edbc45__8000</td>
      <td>Metlfe</td>
      <td>4337338</td>
    </tr>
     <tr>
      <td>10.104.40.210</td>
      <td>READONLY</td>
      <td>1_68ddfebc16eb4b9e__20cc939f_15062edbc45__8000</td>
      <td>AEGON</td>
      <td>4337338</td>
    </tr>
     <tr>
      <td>10.104.40.215</td>
      <td>WRITABLE</td>
      <td>1_68ddfebc16eb4b9e__20cc939f_15062edbc45__8000</td>
      <td>Sothampton</td>
      <td>4337338</td>
    </tr>
  </tbody>
</table>	
</div>

<% include partials/footer %>