<% include partials/header %>
<div class="ui container">
	<br>
	<br>
	<table class="ui fixed striped green sortable table">
  <thead>
    <tr>
    	<th class="two wide sorted ascending">AW</th>
   		<th class="two wide">Status</th>
    	<th class="four wide">Customer GUID</th>
    	<th class="two wide">Customer Name</th>
    	<th class="two wide">Message Count</th>
  </tr></thead>
  <tbody>
  	<% 
  	var i = 0;
  	AW_IP.forEach(function(AW_IP){ %>
    <tr>
      <td><%= AW_IP %></td>
      <td><%= AW_STATUS[i] %></td>
      <td><%= CUST_GUID[i] %></td>
      <td>Customer</td>
      <td><%= MSG_COUNT[i] %></td>
    </tr>
    <% 
    i++;
}); %>
  </tbody>
</table>	
</div>

<% include partials/footer %>