<!--
Author: Nikko Lee <nlee@proofpoint.com | nikko.lee88@yahoo.com>
-->
<!DOCTYPE html>
<html>
<head>
		<title>Proofpoint Professional Services | Inventory Application</title>
		<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.7/semantic.min.css">
		<link rel="stylesheet" tpye="text/css" href="/stylesheets/app.css">
		<meta name="keywords" content="Register Login Widget template Responsive, Login form web template,Flat Pricing tables,Flat Drop downs  Sign up Web Templates, Flat Web Templates, Login Signup Responsive web template, SmartPhone Compatible web template, free WebDesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
</head>
<body>
	<h1>Test Authentication 🚀 </h1>
	<!-- main -->
	<div class="main">
		<!--login-profile-->
		
		<!--login-profile-->
		<!--signin-form-->
		<div class="w3">
			<div class="signin-form profile">
				<h3>Login</h3>
				
				<div class="login-form">
					<form action="/" method="post">
						<input type="text" name="logemail" placeholder="E-mail" required="">
						<input type="password" name="logpassword" placeholder="Password" required="">
						<div class="tp">
							<input type="submit" value="LOGIN NOW">
						</div>
					</form>
				</div>
			</div>
		</div>
		<div class="agile">
			<div class="signin-form profile">
				<h3>Register</h3>
				
				<div class="login-form">
					<form action="/" method="post">
						<input type="text" name="email" placeholder="E-mail" required="">
						<input type="text" name="username" placeholder="Username" required="">
						<input type="password" name="password" placeholder="Password" required="">
						<input type="password" name="passwordConf" placeholder="Confirm Password" required="">
						<input type="submit" value="REGISTER">
					</form>
				</div>
				<p><a href="#"> By clicking register, I agree to your terms</a></p>
			</div>
		</div>
		<div class="clear"></div>
		<!--//signin-form-->	
	</div>
	<div class="copyright">
		<p> &copy; 2017 Proofpoint, Inc . All rights reserved | Created by Nikko Lee</a></p>
	</div>					
</body>
</html>