<!--
Author: Nikko Lee <nlee@proofpoint.com | nikko.lee88@yahoo.com>
-->
<!DOCTYPE html>
<html>
<head>
		<title>Proofpoint Professional Services | Inventory Application</title>
        <script
          src="https://code.jquery.com/jquery-3.2.1.min.js"
          integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
          crossorigin="anonymous">
        </script>
		<!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

        <!-- Optional theme -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

        <!-- Latest compiled and minified JavaScript -->
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
		<link rel="stylesheet" tpye="text/css" href="/stylesheets/login.css">
		<meta name="keywords" content="Register Login Widget template Responsive, Login form web template,Flat Pricing tables,Flat Drop downs  Sign up Web Templates, Flat Web Templates, Login Signup Responsive web template, SmartPhone Compatible web template, free WebDesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />

        <!-- AJAX -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">
		
		<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } 
		</script>
		<!-- disable user from clicking back button -->
		<script>
			window.location.hash="no-back-button";
			window.location.hash="Again-No-back-button";//again because google chrome don't insert first hash into history
			window.onhashchange=function(){window.location.hash="no-back-button";}
		</script> 

	</head>
<body>
	<div class="container">    
    <img src="http://10.94.30.36/DriveTracker/img/proofpoint_logo.png" alt="Proofpoint Logo" style="position:fixed; top:0; left:0;">
    <div id="loginbox" class="mainbox col-md-6 col-md-offset-3 col-sm-6 col-sm-offset-3"> 
        
        <div class="row" style="padding-top: 11%;">                
            <div class="iconmelon">
            </div>
        </div>
        
        <div class="panel panel-default" >
            <div class="panel-heading">
                <div class="panel-title text-center">Please Sign In</div>
            </div>     
            <div class="panel-body" >
                <form action="/" name="form" id="form" class="form-horizontal" method="POST">
                    <div class="input-group">
                        <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                        <input id="user" type="text" class="form-control" name="logemail" value="" placeholder="User" required="">              
                    </div>

                    <div class="input-group">
                        <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
                        <input id="password" type="password" class="form-control" name="logpassword" placeholder="Password">
                    </div>                                                                  

                    <div class="form-group">
                        <!-- Button -->
                        <div class="col-sm-12 controls">
                        <div class="tp">
                            <button type="submit" class="btn btn-success pull-right">Login</button>
                        </div>                    
                        </div>
                    </div>
            </div>                   
        </div>  
</div>

<!-- for rounded menu -->
<div class="splash"></div>
<button class="round">menu</button>
<ul class="menu">
  <li><a target="_blank" href="http://10.94.30.36/apps/">PS Main</a></li>
  <li><a target="_blank" href="http://jira.proofpoint.com">JIRA</a></li>
  <li><a target="_blank" href="https://wiki.proofpoint.com/wiki/index.action">WIKI</a></li>
  <li><a target="_blank" href="http://10.94.30.36/DriveTracker/">Drive Tracker</a></li>
  <li><a target="_blank" href="http://10.94.30.36/EtaCalculator/">ETA Calculator</a></li>
  <li><a target="_blank" href="https://login.salesforce.com/">Salesforce</a></li>
</ul>
<!-- end of rounded menu -->

<div id="particles"></div>
</body>
<script type="text/javascript" src="/scripts/login.js"></script>
</html>