#global_smart{
	visibility: hidden;
}
#col0_smart{
	visibility: hidden;
}
#col1_smart{
	visibility: hidden;
}
#col2_smart{
	visibility: hidden;
}
#col3_smart{
	visibility: hidden;
}
#col4_smart{
	visibility: hidden;
}
#col5_smart{
	visibility: hidden;
}
